<!DOCTYPE html>
<html lang="en" ng-app="blogApp" Content-Disposition="attachment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="component/app.css">
</head>
<body ng-controller="mainCtrl as vm">
<nav  class="navbar navbar-default htmlTitle" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-state="vm.mainRouter.state">{{vm.mainRouter.text}}</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ng-if="!router.sublist" ng-repeat="router in vm.routers track by router.id"><a ng-state="router.state">{{router.text}}</a></li>
                <li ng-if="router.sublist" class="dropdown" ng-repeat="router in vm.routers track by router.id">
                    <a ng-state="router.state" class="dropdown-toggle" data-toggle="dropdown">
                        {{router.text}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in router track by item.id" ng-class="{'divider': item.divider}">
                            <a ng-if="!item.divider" ng-state="item.state">{{router.text}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<button class="btn btn-primary chTypeButton" ng-click="vm.changeType()">切换模式/{{vm.type}}</button>
<div ui-view="mainView" class="mainBody"></div>
</body>
</html>
<script type="application/javascript" src="vendor/angular.min.js"></script>
<script type="application/javascript" src="vendor/jquery.min.js"></script>
<script type="application/javascript" src="vendor/angular-ui-router.js"></script>
<script type="application/javascript" src="vendor/require.js"></script>
<script type="application/javascript" src="vendor/angular-couch-potato.js"></script>
<script type="application/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
<script type="application/javascript" src="component/app.js"></script>
<script type="application/javascript" src="component/config.js"></script>
<script type="application/javascript" src="directives/setting.js"></script>