
<article id="post-git"  style="width:70%;text-align: center" class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-meta">
        <a ui-sref="{{mainData.url}}" class="article-date">
            <time datetime="{{mainData.datetime}}" itemprop="datePublished">{{mainData.datetime}}</time>
        </a>
    </div>
    <div class="article-inner">
        <header class="article-header">
            <h1 itemprop="name">
                <a class="article-title" ui-sref="{{mainData.url}}">{{mainData.tittle}}</a>
            </h1>
        </header>
        <div class="article-entry" itemprop="articleBody" style="white-space:pre;padding:0 50px">
            <h2 id="hello-world">{{mainData.content}}
            </h2>
        </div>
        <footer class="article-footer">
            <a data-url="http://yoursite.com/archives/jsNote/JS/" data-id="cis3z7v1d00005kfk89atfahw" class="article-share-link">时光</a>
        </footer>
    </div>
</article>
</section>