body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 1080px;
    background-image: url("./img/lifebg.jpg");
    background-size: 100% 110%;
    overflow: hidden;
}
.iframe {

}
.htmlTitle{
    background: #985f0d;
    border-color: #985f0d;
}
.clockContent {
  width: 800px;
  height: 800px;
  margin: 40px 40px;
  overflow: hidden;
}
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
}
.centerLine {
  position: relative;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;
  border: 1px solid #ddd;
}
.calendar {
  position: absolute;
  background: #07091e;
  top:  calc(50% - 12px);
  left: calc(50% - 35px);
  padding-right: 20px;
  color: #007bff;
}
.calendar span {
  display: inline-block;
  width: 50px;
  text-align: left;
}
.color-blue {
  color: #007bff;
}
.color-red {
  color: red;
}
.color-green {
  color: green;
}
.year {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
.year > span {
  display: block;
  position: absolute;
  left: 50%;
  top: calc(50% - 12px);
  transform-origin: left center;
}
.month {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.month > span {
  display: block;
  position: absolute;
  padding-left: 85px;
  width: 100px;
  left: 50%;
  top: calc(50% - 12px);
  transform-origin: left center;
  text-align: center;
}
.day {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.day > span {
  display: block;
  position: absolute;
  padding-left: 140px;
  width: 170px;
  left: 50%;
  top: calc(50% - 12px);
  transform-origin: left center;
  text-align: center;
}
.hour > span {
  display: block;
  position: absolute;
  padding-left: 190px;
  width: 250px;
  left: 50%;
  top: calc(50% - 12px);
  transform-origin: left center;
  text-align: center;
}
.mint > span {
  display: block;
  position: absolute;
  padding-left: 260px;
  width: 310px;
  left: 50%;
  top: calc(50% - 12px);
  transform-origin: left center;
  text-align: center;
}
.second > span {
  display: block;
  position: absolute;
  padding-left: 330px;
  width: 360px;
  left: 50%;
  top: calc(50% - 12px);
  transform-origin: left center;
  text-align: center;
}
.holiday {
  position: absolute;
  left: calc(50% - 800px);
  top: 0;
  width: 800px;
  height: 800px;
  background: linear-gradient(to bottom, #13152c 0%,#1a2f9a 100%);
  color: #fff;
  opacity: 0.9;
  border-radius: 50%;
  z-index: 2;
}
.holidayContent {
  margin-top: 25%;
  width: 50%;
  float: right;
  height: 50%;
  padding: 80px 50px;
}


.sc-60-1{
  animation: sc601 1s;
}
@keyframes sc601{
  from {transform: rotate(-6deg);}
  50% {transform: rotate(-0deg);}
  to {transform: rotate(-12deg);}
}
.sc-60-2{
  animation: sc602 1s;
}
@keyframes sc602{
  from {transform: rotate(-12deg);}
  50% {transform: rotate(-6deg);}
  to {transform: rotate(-18deg);}
}
.sc-60-3{
  animation: sc603 1s;
}
@keyframes sc603{
  from {transform: rotate(-18deg);}
  50% {transform: rotate(-12deg);}
  to {transform: rotate(-24deg);}
}
.sc-60-4{
  animation: sc604 1s;
}
@keyframes sc604{
  from {transform: rotate(-24deg);}
  50% {transform: rotate(-18deg);}
  to {transform: rotate(-30deg);}
}
.sc-60-5{
  animation: sc605 1s;
}
@keyframes sc605{
  from {transform: rotate(-30deg);}
  50% {transform: rotate(-24deg);}
  to {transform: rotate(-36deg);}
}
.sc-60-6{
  animation: sc606 1s;
}
@keyframes sc606{
  from {transform: rotate(-36deg);}
  50% {transform: rotate(-30deg);}
  to {transform: rotate(-42deg);}
}
.sc-60-7{
  animation: sc607 1s;
}
@keyframes sc607{
  from {transform: rotate(-42deg);}
  50% {transform: rotate(-36deg);}
  to {transform: rotate(-48deg);}
}
.sc-60-8{
  animation: sc608 1s;
}
@keyframes sc608{
  from {transform: rotate(-48deg);}
  50% {transform: rotate(-42deg);}
  to {transform: rotate(-54deg);}
}
.sc-60-9{
  animation: sc609 1s;
}
@keyframes sc609{
  from {transform: rotate(-54deg);}
  50% {transform: rotate(-48deg);}
  to {transform: rotate(-60deg);}
}
.sc-60-10{
  animation: sc6010 1s;
}
@keyframes sc6010{
  from {transform: rotate(-60deg);}
  50% {transform: rotate(-54deg);}
  to {transform: rotate(-66deg);}
}
.sc-60-11{
  animation: sc6011 1s;
}
@keyframes sc6011{
  from {transform: rotate(-66deg);}
  50% {transform: rotate(-60deg);}
  to {transform: rotate(-72deg);}
}
.sc-60-12{
  animation: sc6012 1s;
}
@keyframes sc6012{
  from {transform: rotate(-72deg);}
  50% {transform: rotate(-66deg);}
  to {transform: rotate(-78deg);}
}
.sc-60-13{
  animation: sc6013 1s;
}
@keyframes sc6013{
  from {transform: rotate(-78deg);}
  50% {transform: rotate(-72deg);}
  to {transform: rotate(-84deg);}
}
.sc-60-14{
  animation: sc6014 1s;
}
@keyframes sc6014{
  from {transform: rotate(-84deg);}
  50% {transform: rotate(-78deg);}
  to {transform: rotate(-90deg);}
}
.sc-60-15{
  animation: sc6015 1s;
}
@keyframes sc6015{
  from {transform: rotate(-90deg);}
  50% {transform: rotate(-84deg);}
  to {transform: rotate(-96deg);}
}
.sc-60-16{
  animation: sc6016 1s;
}
@keyframes sc6016{
  from {transform: rotate(-96deg);}
  50% {transform: rotate(-90deg);}
  to {transform: rotate(-102deg);}
}
.sc-60-17{
  animation: sc6017 1s;
}
@keyframes sc6017{
  from {transform: rotate(-102deg);}
  50% {transform: rotate(-96deg);}
  to {transform: rotate(-108deg);}
}
.sc-60-18{
  animation: sc6018 1s;
}
@keyframes sc6018{
  from {transform: rotate(-108deg);}
  50% {transform: rotate(-102deg);}
  to {transform: rotate(-114deg);}
}
.sc-60-19{
  animation: sc6019 1s;
}
@keyframes sc6019{
  from {transform: rotate(-114deg);}
  50% {transform: rotate(-108deg);}
  to {transform: rotate(-120deg);}
}
.sc-60-20{
  animation: sc6020 1s;
}
@keyframes sc6020{
  from {transform: rotate(-120deg);}
  50% {transform: rotate(-114deg);}
  to {transform: rotate(-126deg);}
}
.sc-60-21{
  animation: sc6021 1s;
}
@keyframes sc6021{
  from {transform: rotate(-126deg);}
  50% {transform: rotate(-120deg);}
  to {transform: rotate(-132deg);}
}
.sc-60-22{
  animation: sc6022 1s;
}
@keyframes sc6022{
  from {transform: rotate(-132deg);}
  50% {transform: rotate(-126deg);}
  to {transform: rotate(-138deg);}
}
.sc-60-23{
  animation: sc6023 1s;
}
@keyframes sc6023{
  from {transform: rotate(-138deg);}
  50% {transform: rotate(-132deg);}
  to {transform: rotate(-144deg);}
}
.sc-60-24{
  animation: sc6024 1s;
}
@keyframes sc6024{
  from {transform: rotate(-144deg);}
  50% {transform: rotate(-138deg);}
  to {transform: rotate(-150deg);}
}
.sc-60-25{
  animation: sc6025 1s;
}
@keyframes sc6025{
  from {transform: rotate(-150deg);}
  50% {transform: rotate(-144deg);}
  to {transform: rotate(-156deg);}
}
.sc-60-26{
  animation: sc6026 1s;
}
@keyframes sc6026{
  from {transform: rotate(-156deg);}
  50% {transform: rotate(-150deg);}
  to {transform: rotate(-162deg);}
}
.sc-60-27{
  animation: sc6027 1s;
}
@keyframes sc6027{
  from {transform: rotate(-162deg);}
  50% {transform: rotate(-156deg);}
  to {transform: rotate(-168deg);}
}
.sc-60-28{
  animation: sc6028 1s;
}
@keyframes sc6028{
  from {transform: rotate(-168deg);}
  50% {transform: rotate(-162deg);}
  to {transform: rotate(-174deg);}
}
.sc-60-29{
  animation: sc6029 1s;
}
@keyframes sc6029{
  from {transform: rotate(-174deg);}
  50% {transform: rotate(-168deg);}
  to {transform: rotate(-180deg);}
}
.sc-60-30{
  animation: sc6030 1s;
}
@keyframes sc6030{
  from {transform: rotate(-180deg);}
  50% {transform: rotate(-174deg);}
  to {transform: rotate(-186deg);}
}
.sc-60-31{
  animation: sc6031 1s;
}
@keyframes sc6031{
  from {transform: rotate(-186deg);}
  50% {transform: rotate(-180deg);}
  to {transform: rotate(-192deg);}
}
.sc-60-32{
  animation: sc6032 1s;
}
@keyframes sc6032{
  from {transform: rotate(-192deg);}
  50% {transform: rotate(-186deg);}
  to {transform: rotate(-198deg);}
}
.sc-60-33{
  animation: sc6033 1s;
}
@keyframes sc6033{
  from {transform: rotate(-198deg);}
  50% {transform: rotate(-192deg);}
  to {transform: rotate(-204deg);}
}
.sc-60-34{
  animation: sc6034 1s;
}
@keyframes sc6034{
  from {transform: rotate(-204deg);}
  50% {transform: rotate(-198deg);}
  to {transform: rotate(-210deg);}
}
.sc-60-35{
  animation: sc6035 1s;
}
@keyframes sc6035{
  from {transform: rotate(-210deg);}
  50% {transform: rotate(-204deg);}
  to {transform: rotate(-216deg);}
}
.sc-60-36{
  animation: sc6036 1s;
}
@keyframes sc6036{
  from {transform: rotate(-216deg);}
  50% {transform: rotate(-210deg);}
  to {transform: rotate(-222deg);}
}
.sc-60-37{
  animation: sc6037 1s;
}
@keyframes sc6037{
  from {transform: rotate(-222deg);}
  50% {transform: rotate(-216deg);}
  to {transform: rotate(-228deg);}
}
.sc-60-38{
  animation: sc6038 1s;
}
@keyframes sc6038{
  from {transform: rotate(-228deg);}
  50% {transform: rotate(-222deg);}
  to {transform: rotate(-234deg);}
}
.sc-60-39{
  animation: sc6039 1s;
}
@keyframes sc6039{
  from {transform: rotate(-234deg);}
  50% {transform: rotate(-228deg);}
  to {transform: rotate(-240deg);}
}
.sc-60-40{
  animation: sc6040 1s;
}
@keyframes sc6040{
  from {transform: rotate(-240deg);}
  50% {transform: rotate(-234deg);}
  to {transform: rotate(-246deg);}
}
.sc-60-41{
  animation: sc6041 1s;
}
@keyframes sc6041{
  from {transform: rotate(-246deg);}
  50% {transform: rotate(-240deg);}
  to {transform: rotate(-252deg);}
}
.sc-60-42{
  animation: sc6042 1s;
}
@keyframes sc6042{
  from {transform: rotate(-252deg);}
  50% {transform: rotate(-246deg);}
  to {transform: rotate(-258deg);}
}
.sc-60-43{
  animation: sc6043 1s;
}
@keyframes sc6043{
  from {transform: rotate(-258deg);}
  50% {transform: rotate(-252deg);}
  to {transform: rotate(-264deg);}
}
.sc-60-44{
  animation: sc6044 1s;
}
@keyframes sc6044{
  from {transform: rotate(-264deg);}
  50% {transform: rotate(-258deg);}
  to {transform: rotate(-270deg);}
}
.sc-60-45{
  animation: sc6045 1s;
}
@keyframes sc6045{
  from {transform: rotate(-270deg);}
  50% {transform: rotate(-264deg);}
  to {transform: rotate(-276deg);}
}
.sc-60-46{
  animation: sc6046 1s;
}
@keyframes sc6046{
  from {transform: rotate(-276deg);}
  50% {transform: rotate(-270deg);}
  to {transform: rotate(-282deg);}
}
.sc-60-47{
  animation: sc6047 1s;
}
@keyframes sc6047{
  from {transform: rotate(-282deg);}
  50% {transform: rotate(-276deg);}
  to {transform: rotate(-288deg);}
}
.sc-60-48{
  animation: sc6048 1s;
}
@keyframes sc6048{
  from {transform: rotate(-288deg);}
  50% {transform: rotate(-282deg);}
  to {transform: rotate(-294deg);}
}
.sc-60-49{
  animation: sc6049 1s;
}
@keyframes sc6049{
  from {transform: rotate(-294deg);}
  50% {transform: rotate(-288deg);}
  to {transform: rotate(-300deg);}
}
.sc-60-50{
  animation: sc6050 1s;
}
@keyframes sc6050{
  from {transform: rotate(-300deg);}
  50% {transform: rotate(-294deg);}
  to {transform: rotate(-306deg);}
}
.sc-60-51{
  animation: sc6051 1s;
}
@keyframes sc6051{
  from {transform: rotate(-306deg);}
  50% {transform: rotate(-300deg);}
  to {transform: rotate(-312deg);}
}
.sc-60-52{
  animation: sc6052 1s;
}
@keyframes sc6052{
  from {transform: rotate(-312deg);}
  50% {transform: rotate(-306deg);}
  to {transform: rotate(-318deg);}
}
.sc-60-53{
  animation: sc6053 1s;
}
@keyframes sc6053{
  from {transform: rotate(-318deg);}
  50% {transform: rotate(-312deg);}
  to {transform: rotate(-324deg);}
}
.sc-60-54{
  animation: sc6054 1s;
}
@keyframes sc6054{
  from {transform: rotate(-324deg);}
  50% {transform: rotate(-318deg);}
  to {transform: rotate(-330deg);}
}
.sc-60-55{
  animation: sc6055 1s;
}
@keyframes sc6055{
  from {transform: rotate(-330deg);}
  50% {transform: rotate(-324deg);}
  to {transform: rotate(-336deg);}
}
.sc-60-56{
  animation: sc6056 1s;
}
@keyframes sc6056{
  from {transform: rotate(-336deg);}
  50% {transform: rotate(-330deg);}
  to {transform: rotate(-342deg);}
}
.sc-60-57{
  animation: sc6057 1s;
}
@keyframes sc6057{
  from {transform: rotate(-342deg);}
  50% {transform: rotate(-336deg);}
  to {transform: rotate(-348deg);}
}
.sc-60-58{
  animation: sc6058 1s;
}
@keyframes sc6058{
  from {transform: rotate(-348deg);}
  50% {transform: rotate(-342deg);}
  to {transform: rotate(-354deg);}
}
.sc-60-59{
  animation: sc6059 1s;
}
@keyframes sc6059{
  from {transform: rotate(-354deg);}
  50% {transform: rotate(-348deg);}
  to {transform: rotate(-360deg);}
}
.sc-60-0{
  animation: sc6060 1s;
}
@keyframes sc6060{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-354deg);}
  to {transform: rotate(-366deg);}
}
.mint-60-1{
  transform: rotate(-0deg);
  animation: mint601 3s;
}
@keyframes mint601{
  from {transform: rotate(-6deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-0deg);}
}.mint-60-2{
  transform: rotate(-6deg);
  animation: mint602 3s;
}
@keyframes mint602{
  from {transform: rotate(-12deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-6deg);}
}.mint-60-3{
  transform: rotate(-12deg);
  animation: mint603 3s;
}
@keyframes mint603{
  from {transform: rotate(-18deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-12deg);}
}.mint-60-4{
  transform: rotate(-18deg);
  animation: mint604 3s;
}
@keyframes mint604{
  from {transform: rotate(-24deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-18deg);}
}.mint-60-5{
  transform: rotate(-24deg);
  animation: mint605 3s;
}
@keyframes mint605{
  from {transform: rotate(-30deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-24deg);}
}.mint-60-6{
  transform: rotate(-30deg);
  animation: mint606 3s;
}
@keyframes mint606{
  from {transform: rotate(-36deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-30deg);}
}.mint-60-7{
  transform: rotate(-36deg);
  animation: mint607 3s;
}
@keyframes mint607{
  from {transform: rotate(-42deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-36deg);}
}.mint-60-8{
  transform: rotate(-42deg);
  animation: mint608 3s;
}
@keyframes mint608{
  from {transform: rotate(-48deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-42deg);}
}.mint-60-9{
  transform: rotate(-48deg);
  animation: mint609 3s;
}
@keyframes mint609{
  from {transform: rotate(-54deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-48deg);}
}.mint-60-10{
  transform: rotate(-54deg);
  animation: mint6010 3s;
}
@keyframes mint6010{
  from {transform: rotate(-60deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-54deg);}
}.mint-60-11{
  transform: rotate(-60deg);
  animation: mint6011 3s;
}
@keyframes mint6011{
  from {transform: rotate(-66deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-60deg);}
}.mint-60-12{
  transform: rotate(-66deg);
  animation: mint6012 3s;
}
@keyframes mint6012{
  from {transform: rotate(-72deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-66deg);}
}.mint-60-13{
  transform: rotate(-72deg);
  animation: mint6013 3s;
}
@keyframes mint6013{
  from {transform: rotate(-78deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-72deg);}
}.mint-60-14{
  transform: rotate(-78deg);
  animation: mint6014 3s;
}
@keyframes mint6014{
  from {transform: rotate(-84deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-78deg);}
}.mint-60-15{
  transform: rotate(-84deg);
  animation: mint6015 3s;
}
@keyframes mint6015{
  from {transform: rotate(-90deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-84deg);}
}.mint-60-16{
  transform: rotate(-90deg);
  animation: mint6016 3s;
}
@keyframes mint6016{
  from {transform: rotate(-96deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-90deg);}
}.mint-60-17{
  transform: rotate(-96deg);
  animation: mint6017 3s;
}
@keyframes mint6017{
  from {transform: rotate(-102deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-96deg);}
}.mint-60-18{
  transform: rotate(-102deg);
  animation: mint6018 3s;
}
@keyframes mint6018{
  from {transform: rotate(-108deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-102deg);}
}.mint-60-19{
  transform: rotate(-108deg);
  animation: mint6019 3s;
}
@keyframes mint6019{
  from {transform: rotate(-114deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-108deg);}
}.mint-60-20{
  transform: rotate(-114deg);
  animation: mint6020 3s;
}
@keyframes mint6020{
  from {transform: rotate(-120deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-114deg);}
}.mint-60-21{
  transform: rotate(-120deg);
  animation: mint6021 3s;
}
@keyframes mint6021{
  from {transform: rotate(-126deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-120deg);}
}.mint-60-22{
  transform: rotate(-126deg);
  animation: mint6022 3s;
}
@keyframes mint6022{
  from {transform: rotate(-132deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-126deg);}
}.mint-60-23{
  transform: rotate(-132deg);
  animation: mint6023 3s;
}
@keyframes mint6023{
  from {transform: rotate(-138deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-132deg);}
}.mint-60-24{
  transform: rotate(-138deg);
  animation: mint6024 3s;
}
@keyframes mint6024{
  from {transform: rotate(-144deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-138deg);}
}.mint-60-25{
  transform: rotate(-144deg);
  animation: mint6025 3s;
}
@keyframes mint6025{
  from {transform: rotate(-150deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-144deg);}
}.mint-60-26{
  transform: rotate(-150deg);
  animation: mint6026 3s;
}
@keyframes mint6026{
  from {transform: rotate(-156deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-150deg);}
}.mint-60-27{
  transform: rotate(-156deg);
  animation: mint6027 3s;
}
@keyframes mint6027{
  from {transform: rotate(-162deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-156deg);}
}.mint-60-28{
  transform: rotate(-162deg);
  animation: mint6028 3s;
}
@keyframes mint6028{
  from {transform: rotate(-168deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-162deg);}
}.mint-60-29{
  transform: rotate(-168deg);
  animation: mint6029 3s;
}
@keyframes mint6029{
  from {transform: rotate(-174deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-168deg);}
}.mint-60-30{
  transform: rotate(-174deg);
  animation: mint6030 3s;
}
@keyframes mint6030{
  from {transform: rotate(-180deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-174deg);}
}.mint-60-31{
  transform: rotate(-180deg);
  animation: mint6031 3s;
}
@keyframes mint6031{
  from {transform: rotate(-186deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-180deg);}
}.mint-60-32{
  transform: rotate(-186deg);
  animation: mint6032 3s;
}
@keyframes mint6032{
  from {transform: rotate(-192deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-186deg);}
}.mint-60-33{
  transform: rotate(-192deg);
  animation: mint6033 3s;
}
@keyframes mint6033{
  from {transform: rotate(-198deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-192deg);}
}.mint-60-34{
  transform: rotate(-198deg);
  animation: mint6034 3s;
}
@keyframes mint6034{
  from {transform: rotate(-204deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-198deg);}
}.mint-60-35{
  transform: rotate(-204deg);
  animation: mint6035 3s;
}
@keyframes mint6035{
  from {transform: rotate(-210deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-204deg);}
}.mint-60-36{
  transform: rotate(-210deg);
  animation: mint6036 3s;
}
@keyframes mint6036{
  from {transform: rotate(-216deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-210deg);}
}.mint-60-37{
  transform: rotate(-216deg);
  animation: mint6037 3s;
}
@keyframes mint6037{
  from {transform: rotate(-222deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-216deg);}
}.mint-60-38{
  transform: rotate(-222deg);
  animation: mint6038 3s;
}
@keyframes mint6038{
  from {transform: rotate(-228deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-222deg);}
}.mint-60-39{
  transform: rotate(-228deg);
  animation: mint6039 3s;
}
@keyframes mint6039{
  from {transform: rotate(-234deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-228deg);}
}.mint-60-40{
  transform: rotate(-234deg);
  animation: mint6040 3s;
}
@keyframes mint6040{
  from {transform: rotate(-240deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-234deg);}
}.mint-60-41{
  transform: rotate(-240deg);
  animation: mint6041 3s;
}
@keyframes mint6041{
  from {transform: rotate(-246deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-240deg);}
}.mint-60-42{
  transform: rotate(-246deg);
  animation: mint6042 3s;
}
@keyframes mint6042{
  from {transform: rotate(-252deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-246deg);}
}.mint-60-43{
  transform: rotate(-252deg);
  animation: mint6043 3s;
}
@keyframes mint6043{
  from {transform: rotate(-258deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-252deg);}
}.mint-60-44{
  transform: rotate(-258deg);
  animation: mint6044 3s;
}
@keyframes mint6044{
  from {transform: rotate(-264deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-258deg);}
}.mint-60-45{
  transform: rotate(-264deg);
  animation: mint6045 3s;
}
@keyframes mint6045{
  from {transform: rotate(-270deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-264deg);}
}.mint-60-46{
  transform: rotate(-270deg);
  animation: mint6046 3s;
}
@keyframes mint6046{
  from {transform: rotate(-276deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-270deg);}
}.mint-60-47{
  transform: rotate(-276deg);
  animation: mint6047 3s;
}
@keyframes mint6047{
  from {transform: rotate(-282deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-276deg);}
}.mint-60-48{
  transform: rotate(-282deg);
  animation: mint6048 3s;
}
@keyframes mint6048{
  from {transform: rotate(-288deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-282deg);}
}.mint-60-49{
  transform: rotate(-288deg);
  animation: mint6049 3s;
}
@keyframes mint6049{
  from {transform: rotate(-294deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-288deg);}
}.mint-60-50{
  transform: rotate(-294deg);
  animation: mint6050 3s;
}
@keyframes mint6050{
  from {transform: rotate(-300deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-294deg);}
}.mint-60-51{
  transform: rotate(-300deg);
  animation: mint6051 3s;
}
@keyframes mint6051{
  from {transform: rotate(-306deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-300deg);}
}.mint-60-52{
  transform: rotate(-306deg);
  animation: mint6052 3s;
}
@keyframes mint6052{
  from {transform: rotate(-312deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-306deg);}
}.mint-60-53{
  transform: rotate(-312deg);
  animation: mint6053 3s;
}
@keyframes mint6053{
  from {transform: rotate(-318deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-312deg);}
}.mint-60-54{
  transform: rotate(-318deg);
  animation: mint6054 3s;
}
@keyframes mint6054{
  from {transform: rotate(-324deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-318deg);}
}.mint-60-55{
  transform: rotate(-324deg);
  animation: mint6055 3s;
}
@keyframes mint6055{
  from {transform: rotate(-330deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-324deg);}
}.mint-60-56{
  transform: rotate(-330deg);
  animation: mint6056 3s;
}
@keyframes mint6056{
  from {transform: rotate(-336deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-330deg);}
}.mint-60-57{
  transform: rotate(-336deg);
  animation: mint6057 3s;
}
@keyframes mint6057{
  from {transform: rotate(-342deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-336deg);}
}.mint-60-58{
  transform: rotate(-342deg);
  animation: mint6058 3s;
}
@keyframes mint6058{
  from {transform: rotate(-348deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-342deg);}
}.mint-60-59{
  transform: rotate(-348deg);
  animation: mint6059 3s;
}
@keyframes mint6059{
  from {transform: rotate(-354deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-348deg);}
}.mint-60-0{
  transform: rotate(-354deg);
  animation: mint6060 3s;
}
@keyframes mint6060{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(360deg);}
  to {transform: rotate(-354deg);}
}.date-30-1{
  transform: rotate(-0deg);
  animation: date301 3s;
}
@keyframes date301{
  from {transform: rotate(-12deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-0deg);}
}
.date-30-2{
  transform: rotate(-12deg);
  animation: date302 3s;
}
@keyframes date302{
  from {transform: rotate(-24deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-12deg);}
}
.date-30-3{
  transform: rotate(-24deg);
  animation: date303 3s;
}
@keyframes date303{
  from {transform: rotate(-36deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-24deg);}
}
.date-30-4{
  transform: rotate(-36deg);
  animation: date304 3s;
}
@keyframes date304{
  from {transform: rotate(-48deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-36deg);}
}
.date-30-5{
  transform: rotate(-48deg);
  animation: date305 3s;
}
@keyframes date305{
  from {transform: rotate(-60deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-48deg);}
}
.date-30-6{
  transform: rotate(-60deg);
  animation: date306 3s;
}
@keyframes date306{
  from {transform: rotate(-72deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-60deg);}
}
.date-30-7{
  transform: rotate(-72deg);
  animation: date307 3s;
}
@keyframes date307{
  from {transform: rotate(-84deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-72deg);}
}
.date-30-8{
  transform: rotate(-84deg);
  animation: date308 3s;
}
@keyframes date308{
  from {transform: rotate(-96deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-84deg);}
}
.date-30-9{
  transform: rotate(-96deg);
  animation: date309 3s;
}
@keyframes date309{
  from {transform: rotate(-108deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-96deg);}
}
.date-30-10{
  transform: rotate(-108deg);
  animation: date3010 3s;
}
@keyframes date3010{
  from {transform: rotate(-120deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-108deg);}
}
.date-30-11{
  transform: rotate(-120deg);
  animation: date3011 3s;
}
@keyframes date3011{
  from {transform: rotate(-132deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-120deg);}
}
.date-30-12{
  transform: rotate(-132deg);
  animation: date3012 3s;
}
@keyframes date3012{
  from {transform: rotate(-144deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-132deg);}
}
.date-30-13{
  transform: rotate(-144deg);
  animation: date3013 3s;
}
@keyframes date3013{
  from {transform: rotate(-156deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-144deg);}
}
.date-30-14{
  transform: rotate(-156deg);
  animation: date3014 3s;
}
@keyframes date3014{
  from {transform: rotate(-168deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-156deg);}
}
.date-30-15{
  transform: rotate(-168deg);
  animation: date3015 3s;
}
@keyframes date3015{
  from {transform: rotate(-180deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-168deg);}
}
.date-30-16{
  transform: rotate(-180deg);
  animation: date3016 3s;
}
@keyframes date3016{
  from {transform: rotate(-192deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-180deg);}
}
.date-30-17{
  transform: rotate(-192deg);
  animation: date3017 3s;
}
@keyframes date3017{
  from {transform: rotate(-204deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-192deg);}
}
.date-30-18{
  transform: rotate(-204deg);
  animation: date3018 3s;
}
@keyframes date3018{
  from {transform: rotate(-216deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-204deg);}
}
.date-30-19{
  transform: rotate(-216deg);
  animation: date3019 3s;
}
@keyframes date3019{
  from {transform: rotate(-228deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-216deg);}
}
.date-30-20{
  transform: rotate(-228deg);
  animation: date3020 3s;
}
@keyframes date3020{
  from {transform: rotate(-240deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-228deg);}
}
.date-30-21{
  transform: rotate(-240deg);
  animation: date3021 3s;
}
@keyframes date3021{
  from {transform: rotate(-252deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-240deg);}
}
.date-30-22{
  transform: rotate(-252deg);
  animation: date3022 3s;
}
@keyframes date3022{
  from {transform: rotate(-264deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-252deg);}
}
.date-30-23{
  transform: rotate(-264deg);
  animation: date3023 3s;
}
@keyframes date3023{
  from {transform: rotate(-276deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-264deg);}
}
.date-30-24{
  transform: rotate(-276deg);
  animation: date3024 3s;
}
@keyframes date3024{
  from {transform: rotate(-288deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-276deg);}
}
.date-30-25{
  transform: rotate(-288deg);
  animation: date3025 3s;
}
@keyframes date3025{
  from {transform: rotate(-300deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-288deg);}
}
.date-30-26{
  transform: rotate(-300deg);
  animation: date3026 3s;
}
@keyframes date3026{
  from {transform: rotate(-312deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-300deg);}
}
.date-30-27{
  transform: rotate(-312deg);
  animation: date3027 3s;
}
@keyframes date3027{
  from {transform: rotate(-324deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-312deg);}
}
.date-30-28{
  transform: rotate(-324deg);
  animation: date3028 3s;
}
@keyframes date3028{
  from {transform: rotate(-336deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-324deg);}
}
.date-30-29{
  transform: rotate(-336deg);
  animation: date3029 3s;
}
@keyframes date3029{
  from {transform: rotate(-348deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-336deg);}
}
.date-30-30{
  transform: rotate(-348deg);
  animation: date3030 3s;
}
@keyframes date3030{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-348deg);}
}
.date-31-1{
  transform: rotate(-0deg);
  animation: date311 3s;
}
@keyframes date311{
  from {transform: rotate(-11.612903225806452deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-0deg);}
}.date-31-2{
  transform: rotate(-11.612903225806452deg);
  animation: date312 3s;
}
@keyframes date312{
  from {transform: rotate(-23.225806451612904deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-11.612903225806452deg);}
}.date-31-3{
  transform: rotate(-23.225806451612904deg);
  animation: date313 3s;
}
@keyframes date313{
  from {transform: rotate(-34.83870967741936deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-23.225806451612904deg);}
}.date-31-4{
  transform: rotate(-34.83870967741936deg);
  animation: date314 3s;
}
@keyframes date314{
  from {transform: rotate(-46.45161290322581deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-34.83870967741936deg);}
}.date-31-5{
  transform: rotate(-46.45161290322581deg);
  animation: date315 3s;
}
@keyframes date315{
  from {transform: rotate(-58.064516129032256deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-46.45161290322581deg);}
}.date-31-6{
  transform: rotate(-58.064516129032256deg);
  animation: date316 3s;
}
@keyframes date316{
  from {transform: rotate(-69.67741935483872deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-58.064516129032256deg);}
}.date-31-7{
  transform: rotate(-69.67741935483872deg);
  animation: date317 3s;
}
@keyframes date317{
  from {transform: rotate(-81.29032258064517deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-69.67741935483872deg);}
}.date-31-8{
  transform: rotate(-81.29032258064517deg);
  animation: date318 3s;
}
@keyframes date318{
  from {transform: rotate(-92.90322580645162deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-81.29032258064517deg);}
}.date-31-9{
  transform: rotate(-92.90322580645162deg);
  animation: date319 3s;
}
@keyframes date319{
  from {transform: rotate(-104.51612903225806deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-92.90322580645162deg);}
}.date-31-10{
  transform: rotate(-104.51612903225806deg);
  animation: date3110 3s;
}
@keyframes date3110{
  from {transform: rotate(-116.12903225806451deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-104.51612903225806deg);}
}.date-31-11{
  transform: rotate(-116.12903225806451deg);
  animation: date3111 3s;
}
@keyframes date3111{
  from {transform: rotate(-127.74193548387098deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-116.12903225806451deg);}
}.date-31-12{
  transform: rotate(-127.74193548387098deg);
  animation: date3112 3s;
}
@keyframes date3112{
  from {transform: rotate(-139.35483870967744deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-127.74193548387098deg);}
}.date-31-13{
  transform: rotate(-139.35483870967744deg);
  animation: date3113 3s;
}
@keyframes date3113{
  from {transform: rotate(-150.96774193548387deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-139.35483870967744deg);}
}.date-31-14{
  transform: rotate(-150.96774193548387deg);
  animation: date3114 3s;
}
@keyframes date3114{
  from {transform: rotate(-162.58064516129033deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-150.96774193548387deg);}
}.date-31-15{
  transform: rotate(-162.58064516129033deg);
  animation: date3115 3s;
}
@keyframes date3115{
  from {transform: rotate(-174.19354838709677deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-162.58064516129033deg);}
}.date-31-16{
  transform: rotate(-174.19354838709677deg);
  animation: date3116 3s;
}
@keyframes date3116{
  from {transform: rotate(-185.80645161290323deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-174.19354838709677deg);}
}.date-31-17{
  transform: rotate(-185.80645161290323deg);
  animation: date3117 3s;
}
@keyframes date3117{
  from {transform: rotate(-197.4193548387097deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-185.80645161290323deg);}
}.date-31-18{
  transform: rotate(-197.4193548387097deg);
  animation: date3118 3s;
}
@keyframes date3118{
  from {transform: rotate(-209.03225806451613deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-197.4193548387097deg);}
}.date-31-19{
  transform: rotate(-209.03225806451613deg);
  animation: date3119 3s;
}
@keyframes date3119{
  from {transform: rotate(-220.6451612903226deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-209.03225806451613deg);}
}.date-31-20{
  transform: rotate(-220.6451612903226deg);
  animation: date3120 3s;
}
@keyframes date3120{
  from {transform: rotate(-232.25806451612902deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-220.6451612903226deg);}
}.date-31-21{
  transform: rotate(-232.25806451612902deg);
  animation: date3121 3s;
}
@keyframes date3121{
  from {transform: rotate(-243.8709677419355deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-232.25806451612902deg);}
}.date-31-22{
  transform: rotate(-243.8709677419355deg);
  animation: date3122 3s;
}
@keyframes date3122{
  from {transform: rotate(-255.48387096774195deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-243.8709677419355deg);}
}.date-31-23{
  transform: rotate(-255.48387096774195deg);
  animation: date3123 3s;
}
@keyframes date3123{
  from {transform: rotate(-267.0967741935484deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-255.48387096774195deg);}
}.date-31-24{
  transform: rotate(-267.0967741935484deg);
  animation: date3124 3s;
}
@keyframes date3124{
  from {transform: rotate(-278.7096774193549deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-267.0967741935484deg);}
}.date-31-25{
  transform: rotate(-278.7096774193549deg);
  animation: date3125 3s;
}
@keyframes date3125{
  from {transform: rotate(-290.3225806451613deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-278.7096774193549deg);}
}.date-31-26{
  transform: rotate(-290.3225806451613deg);
  animation: date3126 3s;
}
@keyframes date3126{
  from {transform: rotate(-301.93548387096774deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-290.3225806451613deg);}
}.date-31-27{
  transform: rotate(-301.93548387096774deg);
  animation: date3127 3s;
}
@keyframes date3127{
  from {transform: rotate(-313.5483870967742deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-301.93548387096774deg);}
}.date-31-28{
  transform: rotate(-313.5483870967742deg);
  animation: date3128 3s;
}
@keyframes date3128{
  from {transform: rotate(-325.16129032258067deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-313.5483870967742deg);}
}.date-31-29{
  transform: rotate(-325.16129032258067deg);
  animation: date3129 3s;
}
@keyframes date3129{
  from {transform: rotate(-336.77419354838713deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-325.16129032258067deg);}
}.date-31-30{
  transform: rotate(-336.77419354838713deg);
  animation: date3130 3s;
}
@keyframes date3130{
  from {transform: rotate(-348.38709677419354deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-336.77419354838713deg);}
}.date-31-31{
  transform: rotate(-348.38709677419354deg);
  animation: date3131 3s;
}
@keyframes date3131{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-348.38709677419354deg);}
}.date-28-1{
  transform: rotate(-0deg);
  animation: date301 3s;
}
@keyframes date301{
  from {transform: rotate(-12.857142857142858deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-0deg);}
}
.date-28-2{
  transform: rotate(-12.857142857142858deg);
  animation: date302 3s;
}
@keyframes date302{
  from {transform: rotate(-25.714285714285715deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-12.857142857142858deg);}
}
.date-28-3{
  transform: rotate(-25.714285714285715deg);
  animation: date303 3s;
}
@keyframes date303{
  from {transform: rotate(-38.57142857142857deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-25.714285714285715deg);}
}
.date-28-4{
  transform: rotate(-38.57142857142857deg);
  animation: date304 3s;
}
@keyframes date304{
  from {transform: rotate(-51.42857142857143deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-38.57142857142857deg);}
}
.date-28-5{
  transform: rotate(-51.42857142857143deg);
  animation: date305 3s;
}
@keyframes date305{
  from {transform: rotate(-64.28571428571429deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-51.42857142857143deg);}
}
.date-28-6{
  transform: rotate(-64.28571428571429deg);
  animation: date306 3s;
}
@keyframes date306{
  from {transform: rotate(-77.14285714285714deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-64.28571428571429deg);}
}
.date-28-7{
  transform: rotate(-77.14285714285714deg);
  animation: date307 3s;
}
@keyframes date307{
  from {transform: rotate(-90deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-77.14285714285714deg);}
}
.date-28-8{
  transform: rotate(-90deg);
  animation: date308 3s;
}
@keyframes date308{
  from {transform: rotate(-102.85714285714286deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-90deg);}
}
.date-28-9{
  transform: rotate(-102.85714285714286deg);
  animation: date309 3s;
}
@keyframes date309{
  from {transform: rotate(-115.71428571428572deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-102.85714285714286deg);}
}
.date-28-10{
  transform: rotate(-115.71428571428572deg);
  animation: date3010 3s;
}
@keyframes date3010{
  from {transform: rotate(-128.57142857142858deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-115.71428571428572deg);}
}
.date-28-11{
  transform: rotate(-128.57142857142858deg);
  animation: date3011 3s;
}
@keyframes date3011{
  from {transform: rotate(-141.42857142857144deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-128.57142857142858deg);}
}
.date-28-12{
  transform: rotate(-141.42857142857144deg);
  animation: date3012 3s;
}
@keyframes date3012{
  from {transform: rotate(-154.28571428571428deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-141.42857142857144deg);}
}
.date-28-13{
  transform: rotate(-154.28571428571428deg);
  animation: date3013 3s;
}
@keyframes date3013{
  from {transform: rotate(-167.14285714285714deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-154.28571428571428deg);}
}
.date-28-14{
  transform: rotate(-167.14285714285714deg);
  animation: date3014 3s;
}
@keyframes date3014{
  from {transform: rotate(-180deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-167.14285714285714deg);}
}
.date-28-15{
  transform: rotate(-180deg);
  animation: date3015 3s;
}
@keyframes date3015{
  from {transform: rotate(-192.85714285714286deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-180deg);}
}
.date-28-16{
  transform: rotate(-192.85714285714286deg);
  animation: date3016 3s;
}
@keyframes date3016{
  from {transform: rotate(-205.71428571428572deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-192.85714285714286deg);}
}
.date-28-17{
  transform: rotate(-205.71428571428572deg);
  animation: date3017 3s;
}
@keyframes date3017{
  from {transform: rotate(-218.57142857142858deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-205.71428571428572deg);}
}
.date-28-18{
  transform: rotate(-218.57142857142858deg);
  animation: date3018 3s;
}
@keyframes date3018{
  from {transform: rotate(-231.42857142857144deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-218.57142857142858deg);}
}
.date-28-19{
  transform: rotate(-231.42857142857144deg);
  animation: date3019 3s;
}
@keyframes date3019{
  from {transform: rotate(-244.2857142857143deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-231.42857142857144deg);}
}
.date-28-20{
  transform: rotate(-244.2857142857143deg);
  animation: date3020 3s;
}
@keyframes date3020{
  from {transform: rotate(-257.14285714285717deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-244.2857142857143deg);}
}
.date-28-21{
  transform: rotate(-257.14285714285717deg);
  animation: date3021 3s;
}
@keyframes date3021{
  from {transform: rotate(-270deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-257.14285714285717deg);}
}
.date-28-22{
  transform: rotate(-270deg);
  animation: date3022 3s;
}
@keyframes date3022{
  from {transform: rotate(-282.8571428571429deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-270deg);}
}
.date-28-23{
  transform: rotate(-282.8571428571429deg);
  animation: date3023 3s;
}
@keyframes date3023{
  from {transform: rotate(-295.7142857142857deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-282.8571428571429deg);}
}
.date-28-24{
  transform: rotate(-295.7142857142857deg);
  animation: date3024 3s;
}
@keyframes date3024{
  from {transform: rotate(-308.57142857142856deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-295.7142857142857deg);}
}
.date-28-25{
  transform: rotate(-308.57142857142856deg);
  animation: date3025 3s;
}
@keyframes date3025{
  from {transform: rotate(-321.42857142857144deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-308.57142857142856deg);}
}
.date-28-26{
  transform: rotate(-321.42857142857144deg);
  animation: date3026 3s;
}
@keyframes date3026{
  from {transform: rotate(-334.2857142857143deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-321.42857142857144deg);}
}
.date-28-27{
  transform: rotate(-334.2857142857143deg);
  animation: date3027 3s;
}
@keyframes date3027{
  from {transform: rotate(-347.14285714285717deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-334.2857142857143deg);}
}
.date-28-28{
  transform: rotate(-347.14285714285717deg);
  animation: date3028 3s;
}
@keyframes date3028{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-347.14285714285717deg);}
}
.date-29-1{
  transform: rotate(-0deg);
  animation: date301 3s;
}
@keyframes date301{
  from {transform: rotate(-12.413793103448276deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-0deg);}
}
.date-29-2{
  transform: rotate(-12.413793103448276deg);
  animation: date302 3s;
}
@keyframes date302{
  from {transform: rotate(-24.82758620689655deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-12.413793103448276deg);}
}
.date-29-3{
  transform: rotate(-24.82758620689655deg);
  animation: date303 3s;
}
@keyframes date303{
  from {transform: rotate(-37.241379310344826deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-24.82758620689655deg);}
}
.date-29-4{
  transform: rotate(-37.241379310344826deg);
  animation: date304 3s;
}
@keyframes date304{
  from {transform: rotate(-49.6551724137931deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-37.241379310344826deg);}
}
.date-29-5{
  transform: rotate(-49.6551724137931deg);
  animation: date305 3s;
}
@keyframes date305{
  from {transform: rotate(-62.06896551724138deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-49.6551724137931deg);}
}
.date-29-6{
  transform: rotate(-62.06896551724138deg);
  animation: date306 3s;
}
@keyframes date306{
  from {transform: rotate(-74.48275862068965deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-62.06896551724138deg);}
}
.date-29-7{
  transform: rotate(-74.48275862068965deg);
  animation: date307 3s;
}
@keyframes date307{
  from {transform: rotate(-86.89655172413794deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-74.48275862068965deg);}
}
.date-29-8{
  transform: rotate(-86.89655172413794deg);
  animation: date308 3s;
}
@keyframes date308{
  from {transform: rotate(-99.3103448275862deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-86.89655172413794deg);}
}
.date-29-9{
  transform: rotate(-99.3103448275862deg);
  animation: date309 3s;
}
@keyframes date309{
  from {transform: rotate(-111.72413793103448deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-99.3103448275862deg);}
}
.date-29-10{
  transform: rotate(-111.72413793103448deg);
  animation: date3010 3s;
}
@keyframes date3010{
  from {transform: rotate(-124.13793103448276deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-111.72413793103448deg);}
}
.date-29-11{
  transform: rotate(-124.13793103448276deg);
  animation: date3011 3s;
}
@keyframes date3011{
  from {transform: rotate(-136.55172413793105deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-124.13793103448276deg);}
}
.date-29-12{
  transform: rotate(-136.55172413793105deg);
  animation: date3012 3s;
}
@keyframes date3012{
  from {transform: rotate(-148.9655172413793deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-136.55172413793105deg);}
}
.date-29-13{
  transform: rotate(-148.9655172413793deg);
  animation: date3013 3s;
}
@keyframes date3013{
  from {transform: rotate(-161.3793103448276deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-148.9655172413793deg);}
}
.date-29-14{
  transform: rotate(-161.3793103448276deg);
  animation: date3014 3s;
}
@keyframes date3014{
  from {transform: rotate(-173.79310344827587deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-161.3793103448276deg);}
}
.date-29-15{
  transform: rotate(-173.79310344827587deg);
  animation: date3015 3s;
}
@keyframes date3015{
  from {transform: rotate(-186.20689655172413deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-173.79310344827587deg);}
}
.date-29-16{
  transform: rotate(-186.20689655172413deg);
  animation: date3016 3s;
}
@keyframes date3016{
  from {transform: rotate(-198.6206896551724deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-186.20689655172413deg);}
}
.date-29-17{
  transform: rotate(-198.6206896551724deg);
  animation: date3017 3s;
}
@keyframes date3017{
  from {transform: rotate(-211.0344827586207deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-198.6206896551724deg);}
}
.date-29-18{
  transform: rotate(-211.0344827586207deg);
  animation: date3018 3s;
}
@keyframes date3018{
  from {transform: rotate(-223.44827586206895deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-211.0344827586207deg);}
}
.date-29-19{
  transform: rotate(-223.44827586206895deg);
  animation: date3019 3s;
}
@keyframes date3019{
  from {transform: rotate(-235.86206896551724deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-223.44827586206895deg);}
}
.date-29-20{
  transform: rotate(-235.86206896551724deg);
  animation: date3020 3s;
}
@keyframes date3020{
  from {transform: rotate(-248.27586206896552deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-235.86206896551724deg);}
}
.date-29-21{
  transform: rotate(-248.27586206896552deg);
  animation: date3021 3s;
}
@keyframes date3021{
  from {transform: rotate(-260.6896551724138deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-248.27586206896552deg);}
}
.date-29-22{
  transform: rotate(-260.6896551724138deg);
  animation: date3022 3s;
}
@keyframes date3022{
  from {transform: rotate(-273.1034482758621deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-260.6896551724138deg);}
}
.date-29-23{
  transform: rotate(-273.1034482758621deg);
  animation: date3023 3s;
}
@keyframes date3023{
  from {transform: rotate(-285.51724137931035deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-273.1034482758621deg);}
}
.date-29-24{
  transform: rotate(-285.51724137931035deg);
  animation: date3024 3s;
}
@keyframes date3024{
  from {transform: rotate(-297.9310344827586deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-285.51724137931035deg);}
}
.date-29-25{
  transform: rotate(-297.9310344827586deg);
  animation: date3025 3s;
}
@keyframes date3025{
  from {transform: rotate(-310.3448275862069deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-297.9310344827586deg);}
}
.date-29-26{
  transform: rotate(-310.3448275862069deg);
  animation: date3026 3s;
}
@keyframes date3026{
  from {transform: rotate(-322.7586206896552deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-310.3448275862069deg);}
}
.date-29-27{
  transform: rotate(-322.7586206896552deg);
  animation: date3027 3s;
}
@keyframes date3027{
  from {transform: rotate(-335.17241379310343deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-322.7586206896552deg);}
}
.date-29-28{
  transform: rotate(-335.17241379310343deg);
  animation: date3028 3s;
}
@keyframes date3028{
  from {transform: rotate(-347.58620689655174deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-335.17241379310343deg);}
}
.date-29-29{
  transform: rotate(-347.58620689655174deg);
  animation: date3029 3s;
}
@keyframes date3029{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-347.58620689655174deg);}
}
.month-12-1{
  transform: rotate(-0deg);
  animation: month121 3s;
}
@keyframes month121{
  from {transform: rotate(-30deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-0deg);}
}.month-12-2{
  transform: rotate(-30deg);
  animation: month122 3s;
}
@keyframes month122{
  from {transform: rotate(-60deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-30deg);}
}.month-12-3{
  transform: rotate(-60deg);
  animation: month123 3s;
}
@keyframes month123{
  from {transform: rotate(-90deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-60deg);}
}.month-12-4{
  transform: rotate(-90deg);
  animation: month124 3s;
}
@keyframes month124{
  from {transform: rotate(-120deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-90deg);}
}.month-12-5{
  transform: rotate(-120deg);
  animation: month125 3s;
}
@keyframes month125{
  from {transform: rotate(-150deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-120deg);}
}.month-12-6{
  transform: rotate(-150deg);
  animation: month126 3s;
}
@keyframes month126{
  from {transform: rotate(-180deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-150deg);}
}.month-12-7{
  transform: rotate(-180deg);
  animation: month127 3s;
}
@keyframes month127{
  from {transform: rotate(-210deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-180deg);}
}.month-12-8{
  transform: rotate(-210deg);
  animation: month128 3s;
}
@keyframes month128{
  from {transform: rotate(-240deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-210deg);}
}.month-12-9{
  transform: rotate(-240deg);
  animation: month129 3s;
}
@keyframes month129{
  from {transform: rotate(-270deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-240deg);}
}.month-12-10{
  transform: rotate(-270deg);
  animation: month1210 3s;
}
@keyframes month1210{
  from {transform: rotate(-300deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-270deg);}
}.month-12-11{
  transform: rotate(-300deg);
  animation: month1211 3s;
}
@keyframes month1211{
  from {transform: rotate(-330deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-300deg);}
}.month-12-12{
  transform: rotate(-330deg);
  animation: month1212 3s;
}
@keyframes month1212{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-330deg);}
}.hours-24-1{
  transform: rotate(-0deg);
  animation: hours241 3s;
}
@keyframes hours241{
  from {transform: rotate(-15deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-0deg);}
}
.hours-24-2{
  transform: rotate(-15deg);
  animation: hours242 3s;
}
@keyframes hours242{
  from {transform: rotate(-30deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-15deg);}
}
.hours-24-3{
  transform: rotate(-30deg);
  animation: hours243 3s;
}
@keyframes hours243{
  from {transform: rotate(-45deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-30deg);}
}
.hours-24-4{
  transform: rotate(-45deg);
  animation: hours244 3s;
}
@keyframes hours244{
  from {transform: rotate(-60deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-45deg);}
}
.hours-24-5{
  transform: rotate(-60deg);
  animation: hours245 3s;
}
@keyframes hours245{
  from {transform: rotate(-75deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-60deg);}
}
.hours-24-6{
  transform: rotate(-75deg);
  animation: hours246 3s;
}
@keyframes hours246{
  from {transform: rotate(-90deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-75deg);}
}
.hours-24-7{
  transform: rotate(-90deg);
  animation: hours247 3s;
}
@keyframes hours247{
  from {transform: rotate(-105deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-90deg);}
}
.hours-24-8{
  transform: rotate(-105deg);
  animation: hours248 3s;
}
@keyframes hours248{
  from {transform: rotate(-120deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-105deg);}
}
.hours-24-9{
  transform: rotate(-120deg);
  animation: hours249 3s;
}
@keyframes hours249{
  from {transform: rotate(-135deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-120deg);}
}
.hours-24-10{
  transform: rotate(-135deg);
  animation: hours2410 3s;
}
@keyframes hours2410{
  from {transform: rotate(-150deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-135deg);}
}
.hours-24-11{
  transform: rotate(-150deg);
  animation: hours2411 3s;
}
@keyframes hours2411{
  from {transform: rotate(-165deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-150deg);}
}
.hours-24-12{
  transform: rotate(-165deg);
  animation: hours2412 3s;
}
@keyframes hours2412{
  from {transform: rotate(-180deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-165deg);}
}
.hours-24-13{
  transform: rotate(-180deg);
  animation: hours2413 3s;
}
@keyframes hours2413{
  from {transform: rotate(-195deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-180deg);}
}
.hours-24-14{
  transform: rotate(-195deg);
  animation: hours2414 3s;
}
@keyframes hours2414{
  from {transform: rotate(-210deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-195deg);}
}
.hours-24-15{
  transform: rotate(-210deg);
  animation: hours2415 3s;
}
@keyframes hours2415{
  from {transform: rotate(-225deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-210deg);}
}
.hours-24-16{
  transform: rotate(-225deg);
  animation: hours2416 3s;
}
@keyframes hours2416{
  from {transform: rotate(-240deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-225deg);}
}
.hours-24-17{
  transform: rotate(-240deg);
  animation: hours2417 3s;
}
@keyframes hours2417{
  from {transform: rotate(-255deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-240deg);}
}
.hours-24-18{
  transform: rotate(-255deg);
  animation: hours2418 3s;
}
@keyframes hours2418{
  from {transform: rotate(-270deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-255deg);}
}
.hours-24-19{
  transform: rotate(-270deg);
  animation: hours2419 3s;
}
@keyframes hours2419{
  from {transform: rotate(-285deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-270deg);}
}
.hours-24-20{
  transform: rotate(-285deg);
  animation: hours2420 3s;
}
@keyframes hours2420{
  from {transform: rotate(-300deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-285deg);}
}
.hours-24-21{
  transform: rotate(-300deg);
  animation: hours2421 3s;
}
@keyframes hours2421{
  from {transform: rotate(-315deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-300deg);}
}
.hours-24-22{
  transform: rotate(-315deg);
  animation: hours2422 3s;
}
@keyframes hours2422{
  from {transform: rotate(-330deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-315deg);}
}
.hours-24-23{
  transform: rotate(-330deg);
  animation: hours2423 3s;
}
@keyframes hours2423{
  from {transform: rotate(-345deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-330deg);}
}
.hours-24-0{
  transform: rotate(-345deg);
  animation: hours2424 3s;
}
@keyframes hours2424{
  from {transform: rotate(-360deg);}
  50% {transform: rotate(-360deg);}
  to {transform: rotate(-345deg);}
}
