<link rel="stylesheet" href="component/life/clock/clock.css">
<div class="clockContent">
    <div class="circle">
      <div class="centerLine"></div>
      <div class="year">
        <span>{{vm.years}}</span>
      </div>
      <div class="year month month-12-{{vm.month}}" id="month">
        <span ng-repeat="month in vm.months" ng-style="month.style">{{month.value}}</span>
      </div>
      <div class="year day date-30-{{vm.date}}" id="day">
        <span ng-repeat="day in vm.dates" ng-style="day.style">{{day.value}}</span>
      </div>
      <div class="hour day hours-24-{{vm.hour}}" id="hour">
        <span ng-repeat="hour in vm.hours" ng-style="hour.style">{{hour.value}}</span>
      </div>
      <div class="mint day mint-60-{{vm.mint}}" id="mint">
        <span ng-repeat="mint in vm.mints" ng-style="mint.style">{{mint.value}}</span>
      </div>
      <div class="second day sc-60-{{vm.second}}" id="second" >
        <span ng-repeat="second in vm.seconds" ng-style="second.style">{{second.value}}</span>
      </div>
      <div class="calendar">
        <span style="width: 50px">{{vm.calendar.Animal}}</span><span>{{vm.calendar.month}}</span><span style="width: 65px">{{vm.calendar.date}}</span>
        <span style="width: 60px">{{vm.calendar.hour}}</span><span>{{vm.calendar.mint}}</span>
      </div>
    </div>
</div>
<script src="chineseDate.js"></script>
