body{
    background: #ddd;
}
.noteBody {
    position: relative;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
}
textarea {
    min-width: 800px;
    outline: 0;
    border: 1px solid #397EFF;
    font-size: 13px;
    overflow-x: hidden;
    line-height: 22px;
    resize:none;
    padding: 30px
    /*display: block;*/
    /*-webkit-user-modify: read-write-plaintext-only;*/
}
/*[contentEditable=true]:empty:not(:focus):before {*/
/*    content: attr(data-text);*/
/*}*/