.chTypeButton {
    position: fixed;
    right: 0;
    top: 8px;
}
.navbar-nav li{
    cursor: pointer;
}
body{
    font-size: 16px;
}
.htmlTitle{
    background: #4B0082;
    border-color: #4B0082;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-brand{
    color: #fff
}